# Arquivos de compilação Java
*.class

# Arquivos de build Maven
/target

# Arquivos de build Gradle
/build

# Arquivos de configuração específicos da IDE IntelliJ
/.idea

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos de backup
*~

# Arquivos de configuração pessoal (por exemplo, arquivos de preferências do IntelliJ)
*.iml
*.ipr
*.iws

# Dependências e diretórios baixados
/lib
